body{
    color:#00303f;
}
.login-form{
    margin-top: 20%;
    margin-bottom: 5%;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background: #DEEDF9;
}

.subbtn{
    width: 40%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    
}
.custnav{
    background-color: #DEEDF9;
    color:#00303f;
}
.custnav > a{
    color:#00303f;
}

@media (min-width:480px){
    .loginimg{
        top: 17%;
        position: absolute;
        margin-left: 38%;
    }
}


@media (min-width:700px){
    .loginimg{
        top: 11%;
        position: absolute;
        margin-left: 38%;
    }
}


@media (min-width:350px){
    .loginimg{
        top: 11%;
        position: absolute;
        margin-left: 36%;
    }
}

@media (min-width:1000px){
    .loginimg{
        top: 17%;
        position: absolute;
        margin-left: 38%;
    }
}
@media (min-width:1000px){
    .loginimg1{
        top: -2%;
        position: absolute;
        margin-left: 41%;
    }
}
@media (min-width:480px){
    .loginimg1{
        top: -2%;
        position: absolute;
        margin-left: 41%;
    }
}
@media (min-width:350px){
    .loginimg1{
        top: -2%;
        position: absolute;
        margin-left: 41%;
    }
}
@media (min-width:700px){
    .loginimg1{
        top: -2%;
        position: absolute;
        margin-left: 41%;
    }
}
